.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 20px 0;
  background: transparent;
  /* box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1); */
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  color: $g-999;
  font-weight: 600;
  font-size: 14px;
  width: 53px;
  height: 33.41px;
  left: 120px;
  top: 36.59px;
  color: #FFFEFE;
  background: #85BF0D;
  border-radius: 0px 270px;
  padding: 5px 5px 5px 5px;
}

.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 138px;
}

.navbar-item {
  margin-right: 30px;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
}

.navbar-link {
  display: block;
  transition: all 0.2s ease;
  color: #4D4C4C;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  // active link
  &.isActive,
  &.router-link-active,
  &.router-link-exact-active {
    text-decoration: underline;
  }
}
